body {
	background-color: #159dcc;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.container {
	min-width: 300px;
}
.pageContainer {
	background-color: #159dcc;
}
.logo {
	font-size: 30px;
	font-weight: 300;
}
.logoSmall {
	font-size: 14px;
}
.mobile-nav:hover {
	background-color: #fff;
}
.nav-button {
	position: relative;
	top: 4px;
	padding: 10px !important;
}

.btn-wide {
	width: 100%;
}
.btn-pad {
	margin: 0 5px;
}
.btn-group-border {
	border-left: 0;
}
.selection-box {
	color: #159dcc;
	max-width: 402px;
	margin: 100px auto;
}
.selection-box-title {
	font-weight: 700;
	text-align: center;
	font-size: 24px;
}
.selection-box-content {
	padding: 20px;
}
.selection-box-content-row {
	padding: 10px;
}
.selection-box-content-row > input {
	height: 50px;
	font-size: 20px;
	text-align: center;
}
.selection-box-content-row > button {
	font-size: 20px;
}
.selection-box-content-element {
	padding: 15px;
}
.form-alert {
	
}
.captcha-cont {
	text-align: center;
	display: block;
	width: 100%;
}
.captcha {
	margin: 0 auto;
	display: block;
}
@media screen and (max-width: 450px){
	.captcha {;
		transform:scale(0.64);
		width: 200px;
		-webkit-transform:scale(0.64);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
}
.footer {
	text-align: center;
	font-size: 12px;
	padding-top: 50px;
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
}
.footer > a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.static-footer {
	position: static;
	padding: 20px 0;
}
.invert-footer {
	color: #159dcc;
	text-align: center;
	font-size: 12px;
	padding-top: 50px;
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
}
.invert-footer > a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.dark-footer {
	color: #ddd;
	text-align: center;
	font-size: 12px;
	padding-top: 50px;
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
}
.dark-footer > a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
.footer-small {
	text-align: left;
	margin-left: 40px;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.remove-position {
	position: inherit;
}
.modal-center {
	position: fixed;
	top: 25%;
	bottom: 0;
	left: 0;
	right: 0;
}
.modal-lower {
	position: fixed;
	top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
}
.modal-error {
	color: #f55;
	padding-bottom: 3px;
}
.input-center {
	text-align: center;
}
/* About Page */
.about-content-box {
	color: #222;
	position: relative;
}
.about-intro {
	text-align: center;
	color: #777;
}
.about-logo {
	color: #159dcc;
}
.about-tagline {
	font-size: 16px;
}
.about-sidebar {
	
}
.about-sidenav > li > a {
	display: block;
	padding: 5px 15px;
	font-weight: 500;
	color: #fff;
}
.about-sidenav > li > ul > li > a {
	display: block;
	padding: 5px 30px;
	font-weight: 500;
	color: #fff;
	font-size: 13px;
}
.about-sidenav > li > a:hover, .about-sidenav > li > ul > li > a:hover {
	background-color: transparent;
	border-left: 1px solid #fff;
	margin-left: -1px;
}
.about-sidenav > li > a:hover, .about-sidenav > li > ul > li > a:hover {
	background-color: transparent;
	border-left: 1px solid #fff;
	margin-left: -1px;
}
.about-sidenav > li > .active, .about-sidenav > li > ul > li > .active {
	background-color: transparent;
	border-left: 1px solid #fff;
	margin-left: -1px;
}
.about-img {
	text-align: center;
	margin-left: -40px;
	padding: 20px;
}
.about-img-round {
	border-radius: 5px;
}
.about-img-sm {
	
}

/* Host CSS */
#host-menu-form {
	font-size: 18px;
}
.navbar-host {
	margin: 0;
	padding: 10px;
	border-radius: 0;
}
.room-code {
	margin: 0;
	padding: 0;
	float: left;
	position: fixed;
	top: 15px;;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	font-size: 28px;
	text-align: center;
	
}
.sidebar-toggle {
	position: fixed;
	right: 0;
	display: inline-block;
	background-color: #fff;
	border-left: 3px solid #999;
	border-bottom: 3px solid #999;
	border-bottom-left-radius: 5px;
	color: #333;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px;
	z-index: 51;
}
.host-sidebar {
	position: fixed;
	right: -300px;
	top: 68px;
	bottom: 0;
	margin-top: 10px;
	transition: right 0.3s ease-out;
	-moz-transition: right 0.3s ease-out; 
	-webkit-transition: right 0.3s ease-out; 
	-o-transition: right 0.3s ease-out;
	width: 300px;
	border-top: 2px solid #159dcc;
	border-top-left-radius: 5px; 
	z-index: 50;
}
.host-sidebar-open {
	position: fixed;
	right: 1px;
	top: 68px;
	bottom: 0;
	margin-top: 10px;
	transition: right 0.3s ease-out;
	-moz-transition: right 0.3s ease-out; 
	-webkit-transition: right 0.3s ease-out; 
	-o-transition: right 0.3s ease-out;
	width: 300px;
	border-top: 2px solid #159dcc;
	border-top-left-radius: 5px;
	z-index: 50;
}
.host-sidebar-content {
	position: absolute;
	width: 300px;
	top: 0;
	bottom: 65px;
    overflow-y: auto;
}
.host-sidebar-footer {
	position: absolute;
	bottom: 0;
	background-color: #159dcc; 
	background: -moz-linear-gradient(top, rgba(21,157,204,0) 0%, rgba(21,157,204,1) 10%, rgba(21,157,204,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,157,204,0)), color-stop(10%,rgba(21,157,204,1)), color-stop(100%,rgba(21,157,204,1))); 
	background: -webkit-linear-gradient(top, rgba(21,157,204,0) 0%,rgba(21,157,204,1) 10%,rgba(21,157,204,1) 100%); 
	background: -o-linear-gradient(top, rgba(21,157,204,0) 0%,rgba(21,157,204,1) 10%,rgba(21,157,204,1) 100%); 
	background: -ms-linear-gradient(top, rgba(21,157,204,0) 0%,rgba(21,157,204,1) 10%,rgba(21,157,204,1) 100%); 
	background: linear-gradient(to bottom, rgba(21,157,204,0) 0%,rgba(21,157,204,1) 10%,rgba(21,157,204,1) 100%); 
	margin-bottom: 0;
	text-align: left;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
	width: 100%;
}
.host-sidebar-footer > .btn {
	margin-right: 7px;
}
.submission-tab {
	background-color: #fff;
	background-color: rgba(255,255,255,0.75);
	cursor: pointer;
	color: #333;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s; 
	-o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.submission-tab:hover, .host-sidebar-selected  {
	background-color: #fff;
	background-color: rgba(255,255,255,1);
	cursor: pointer;
	color: #333;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s; 
	-o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.submission-tab > .title {
	font-size: 16px;
	font-weight: 700;
	color: #159dcc;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float:left;
}
.submission-tab > .time {
	position: absolute;
	right: 10px;
	color: #555;
	padding-top: 1px;
}
.submission-tab > .name {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#viewer {
	position: fixed;
	top: 70px;
	bottom: 10px;
}
.host-code-block {
	position: fixed;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	margin: 10px 10px;
	padding: 20px;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: 10px;
	transition: margin-right 0.3s ease-out;
	-moz-transition: margin-right 0.3s ease-out; 
	-webkit-transition: margin-right 0.3s ease-out; 
	-o-transition: margin-right 0.3s ease-out;
	font-family: 'Source Code Pro' ;
	font-weight: 700;
	font-size: 20px;
}
.host-code-block-compressed {
	position: fixed;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	margin: 10px 10px;
	padding: 20px;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: 330px;
	transition: margin-right 0.3s ease-out;
	-moz-transition: margin-right 0.3s ease-out; 
	-webkit-transition: margin-right 0.3s ease-out; 
	-o-transition: margin-right 0.3s ease-out;
	font-family: 'Source Code Pro' ;
	font-weight: 700;
	font-size: 20px;
}
#code-block {
	height: 100%;
}
.code-text-box, .code-text-box:focus {
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	resize: none;
}
#host-code-block-menu {
	position: absolute;
	top: 15px;
	right: 15px;
}
#host-code-block-menu > .host-editor-btn {
	margin-left: -5px;
	color: #555;
	background-color: transparent;
	border-color: #777;
	border-width: 2px;
	border-radius: 1px;
	font-size: 18px;
	padding: 0 6px;
}
#host-refresh-button {
	border: 0;
}
#host-save-status {
	font-size: 14px;
	color: #777;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
}
.fade-status {
	opacity: 0;
    transition: opacity 1.25s;
}
/* user CSS */

.loading-text {
	padding: 15px 30px;
}
.user-sidebar {
	position: fixed;
	padding: 0 10px;
	left: 15px;
	margin-top: 10px;
	transition: right 0.3s ease-out;
	-moz-transition: right 0.3s ease-out; 
	-webkit-transition: right 0.3s ease-out; 
	-o-transition: right 0.3s ease-out;
	height: 100%;
	width: 300px;
	border-top: 2px solid #159dcc;
	border-top-right-radius: 5px; 
	z-index: 50;
}
.user-sidebar-content {
	
}
.user-sidebar-header {
	margin-bottom: 10px;
	margin-top: 0;
	text-align: left;
	padding: 0;
	padding-bottom: 10px;
	width: 100%;
}
.user-sidebar-btn-cont {
	padding: 0;
}
.user-sidebar-btn-cont > a[disabled] {
	border-color: #fff;
	background-color: transparent;
}
.user-sidebar-header > .btn {
	margin-right: 5px;
	margin-left: 0;
}
.rename-popover {
	width: 350px;
}
.user-submission-tab {
	background-color: #fff;
	background-color: rgba(255,255,255,0.75);
	cursor: pointer;
	color: #333;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	border-radius: 5px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s; 
	-o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.user-submission-tab:hover, .user-sidebar-selected {
	cursor: pointer;
	background-color: #fff;
	background-color: rgba(255,255,255,1);
	margin-bottom: 10px;
	color: #333;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s; 
	-o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.user-submission-tab > b {
	font-size: 16px;
	color: #159dcc;
}
.user-submission-tab > span {
	float: right;
	font-size: 21px;
	position: relative;
	right: 10px;
	color: #159dcc;
}
.user-code-block {
	position: fixed;
	background-color: #333;
	color: #eee;
	border-radius: 3px;
	margin: 10px 10px;
	padding: 20px;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 330px;
	transition: margin-right 0.3s ease-out;
	-moz-transition: margin-right 0.3s ease-out; 
	-webkit-transition: margin-right 0.3s ease-out; 
	-o-transition: margin-right 0.3s ease-out;
	font-family: 'Source Code Pro' ;
	font-weight: 500;
	font-size: 20px;
}
.user-code-block-header {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	border-bottom: 1px solid #444;
	padding: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: -20px;
	margin-bottom: 5px;;
	width: 100%;
	height: 50px;
}
.user-code-block-title {
	font-size: 24px;
	font-weight: 700;
}
#last-save {
	font-size: 14px;
	font-weight: 400;
}
.editor-btn {
	margin-left: 5px;
	background-color: #777;
	border-color: #777;
	border-radius: 1px;
}
.user-code-text-box, .user-code-text-box:focus {
	background-color: transparent;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	resize: none;
}
#confirm-dialog {
	padding: 10px 0;
}